[Desktop Entry]
Version=1.0
Type=Application
Name=Межфондовый указатель: Поиск документов
Comment=
Exec=/home/USERNAME/bin/gaoo-cfp/cfp.sh --searchmode
Icon=/home/USERNAME/bin/gaoo-cfp/icon.ico
Path=
Terminal=false
StartupNotify=false
